*~
*.bak
*.tmp
*.csv
*.swp
*.xml
*.html
*.log
*.tar.gz
*.zip
*.xcf
*.secret
*.token

TODO.txt

manjaro/home/andre/.claws-mail/imapcache/**
manjaro/home/andre/.claws-mail/tagsdb/**
manjaro/home/andre/.claws-mail/tempfolder/**
manjaro/home/andre/.claws-mail/themes/**

slackware-2022/home/a/.claws-mail/imapcache/**
slackware-2022/home/a/.claws-mail/tagsdb/**
slackware-2022/home/a/.claws-mail/tempfolder/**
slackware-2022/home/a/.claws-mail/themes/**
slackware-2022/home/a/.config/Signal/stickers.noindex/**
slackware-2022/home/a/.config/Signal/attachments.noindex/**



