[Desktop Entry]
Version=1.0
Name=WhatsApp
GenericName=WhatsApp
Comment=Messenger
Exec=/usr/bin/chromium --new-window --class="WhatsApp" --app=https://web.whatsapp.com/
Terminal=false
Type=Application
Icon=andrest-whatsapp
Categories=Messenger
StartupNotify=false
